.footer-container {
    width: 100%;
    bottom: 0;
    left: 0;

    background-color: var(--purple-100);

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        p {
            color: var(--grey-100);
            font-weight: bold;
            font-size: 0.8rem;
            text-transform: uppercase;
            text-shadow: 2px 3px 5px #201f1f60;
            margin: 0;

            a {
                color: var(--grey-100);
                margin-left: 0.4rem;
            }

            a:hover {
                color: var(--green-100);
            }
        }
    }
}
