@import "bootstrap/dist/css/bootstrap.min.css";

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --black-800: #22272e;
    --black-900: #0d1117;

    --white-100: #f2f2f2;
    
    --grey-200: #b6b6b6;
    --grey-700: #616161;

    --green-100: #3ddf6b;

    --purple-100: #895ae7;
    --pink-200: #bf61cc;
}
