* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --black-800: #22272e;
    --black-900: #0d1117;

    --white-100: #f2f2f2;
    --grey-300: #a0a0a0;

    --purple-100: #895ae7;
    --pink-200: #bf61cc;
}
